<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    We don't care this page, so we didn't write nothing to it.
    
    <a href="/">Go to home</a>
    
</body>
</html>